<div class="u-window-box--medium">
  <div class="c-card">
    <header class="c-card__header">
      <h4 class="c-heading">Filters</h4>
    </header>
    <div class="c-card__item">
      <div class="o-grid">
        <div class="o-grid__cell">
          <input type="text" class="c-field" placeholder="Title" ng-model="$ctrl.filters.title" />
        </div>
        <div class="o-grid__cell">
          <input type="text" class="c-field" placeholder="Author" ng-model="$ctrl.filters.author" />
        </div>
        <div class="o-grid__cell">
          <input type="text" class="c-field" placeholder="Genre" ng-model="$ctrl.filters.genre" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="u-window-box--medium">
  <table class="c-table c-table--striped c-table--clickable">
    <thead class="c-table__head">
      <tr class="c-table__row c-table__row--heading">
        <th class="c-table__cell">
          <a href="#" ng-click="$ctrl.onTitleClick($event);">
            Title
            <i class="fa {{$ctrl.getTitleSortIcon()}} u-pillar-box--small" aria-hidden="true"></i>
          </a>
        </th>
        <th class="c-table__cell">
          <a href="#" ng-click="$ctrl.onAuthorClick($event)">
            Author
            <i class="fa {{$ctrl.getAuthorSortIcon()}} u-pillar-box--small" aria-hidden="true"></i>
          </a>
        </th>
        <th class="c-table__cell">
          <a href="#" ng-click="$ctrl.onGenreClick($event)">
            Genre
            <i class="fa {{$ctrl.getGenreSortIcon()}} u-pillar-box--small" aria-hidden="true"></i>
          </a>
        </th>
      </tr>
    </thead>
    <tbody class="c-table__body">
      <tr class="c-table__row" ng-repeat="book in $ctrl.getBooks() | orderBy: $ctrl.getOrderProp()" ng-click="$ctrl.navigateTo($event, book)">
        <td class="c-table__cell">{{book.title}}</td>
        <td class="c-table__cell">{{book.author}}</td>
        <td class="c-table__cell">{{book.genre}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="u-window-box--medium u-center-block">
  <span class="c-input-group u-center-block__content">
    <button class="c-button c-button--ghost">«</button>
    <button class="c-button c-button--ghost">‹</button>
    <button class="c-button c-button c-button--brand">1</button>
    <button class="c-button c-button--ghost">2</button>
    <button class="c-button c-button--ghost">›</button>
    <button class="c-button c-button--ghost">»</button>
  </span>
</div>
