<div class="u-window-box--medium">
  <form action="#!/books" method="get">
    <div class="o-form-element">
      <label class="c-label" for="title">Title:</label>
      <input type="text" value="{{$ctrl.getTitle()}}" id="title" class="c-field" />
    </div>

    <div class="o-form-element">
      <label class="c-label" for="author">Author:</label>
      <input type="text" value="{{$ctrl.getAuthor()}}" id="author" class="c-field" />
    </div>

    <div class="o-form-element">
      <label class="c-label" for="genre">Genre:</label>
      <input type="text" value="{{$ctrl.getGenre()}}" id="genre" class="c-field" />
    </div>

    <a href="#!/books" class="c-button c-button--brand" ng-click="$ctrl.saveBook($event)">Save</a>
  </form>
</div>
